@model Projeto_KB.Models.UserViewModel

@{
    ViewBag.Title = "Delete User";
}

<div class="SubjectBody">
    <h2 class="log" style="text-align:center">@ViewBag.Title</h2>
    <h3 class="new">Are you sure you want to delete <span class="headers">@Html.DisplayFor(model=>model.AccountName)</span> ?</h3>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="registerFeature">
            <div style="text-align:center">
                <input type="submit" value="YES" class="btn btn-info button-small" />
                @Html.ActionLink("NO", "Index", "User", null, new { @class = "btn btn-info button-small" })
            </div>
        </div>
    }
</div>
