
@model IEnumerable<Projeto_KB.Models.Subject>

@{
    ViewBag.Title = "Categories";
}

<div class="CategoryBody">
    <h3 class="category">Help When you Need It</h3>
    <p>Got a problem? Were we can help you. </p>

    <h3>Categories</h3>
    <div class="row text-center">

        @foreach (var subjects in Model)
        {
            <div class="col-md-3 col-sm-6" subject-feature>
                <div class="thumbnail">
                    <div class="caption">
                        <!--<h4><a href="~/Faqs/Description?id=@subjects.ID">@subjects.Name</a></h4>-->
                        <h4>@Html.ActionLink(subjects.Name, "Description", new { ID = subjects.ID }, null)</h4>
                    </div>
                </div>

            </div>
        }
    </div>
</div>       