
@model IEnumerable<Projeto_KB.Models.Subject>

@{
    ViewBag.Title = "Categories";
}
<link href="~/Content/Style_Categories.css" rel="stylesheet" />
<h3>Help When you Need It</h3>
<p>Got a problem? Where we can help you. </p>

<p class="lead">Categories</p>
<div class="row text-center">

    @foreach (var subjects in Model)
    {
        <div class="col-md-3 col-sm-6" subject-feature>
            <div class="thumbnail">
                <div class="caption">

                    <h4><a href="~/Faqs/Description?id=@subjects.ID">@subjects.Name</a></h4>
                </div>
            </div>

        </div>
    }
</div>       