@model IEnumerable<Projeto_KB.Models.Faq>

@{
    ViewBag.Title = "Description";
}
<link href="~/Content/StyleDescription.css" rel="stylesheet" />

@foreach (var groupSub in Model.GroupBy(item => item.Subject))
{

    <h2 class="description">@Html.Encode(groupSub.Key.Name)  <small>Frequently Asked Questions</small></h2>

    <div class="container-fluid thumbnail">
        <div class="row">

            @foreach (var groupTop in groupSub.GroupBy(item => item.Topic))
            {

                <div class="col-sm-6">

                    <h3>@Html.Encode(groupTop.Key.Name)</h3>


                    @foreach (var item in groupTop)
                    {
                        <ul class="listCat">
                                
                            <li><span>@Html.ActionLink(item.Question, "Details", new { id = item.ID})</span></li>
                        </ul>


                    }
                </div>



            }
        </div>
    </div>
}
