@model IEnumerable<Projeto_KB.Models.Faq>

@{
    ViewBag.Title = "Description";
}
<link href="~/Content/StyleDescription.css" rel="stylesheet" />
<ul>
    
    @foreach (var group in Model.GroupBy(item => item.Topic))
    {

        <li>@Html.Encode(group.Key.Name)
          <ul>

        @foreach (var item in group)
        {
            <li>@Html.Encode(item.Answer)</li>
            <li>@Html.Encode(item.Description)</li>
        }
         </ul>
    </li>
    }
</ul>