@model IEnumerable<Projeto_KB.Models.Faq>

@{
    ViewBag.Title = "Description";
}


@foreach (var item in Model)

{
    <h2>Para o topico de @Html.DisplayFor(modelItem => item.Topic.Name) existem;</h2>

    <p>@item.Answer</p>


}