@model Projeto_KB.Models.Subject
    @{
        ViewBag.Title = "Description";
    }

    <h2>@Model.Name</h2>

    <ul>
        @foreach (var category in Model.Faqs)

        {
            <li>
                @category.Description
            </li>

        }



    </ul>
