
<option value="">Select Phase</option value>
@if (ViewBag.PhaseOption != null) {

    foreach (var item in ViewBag.PhaseOption)

    {
        <option value="@item.Value">@item.Text</option>
    }
}
