@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Styles.css" rel="stylesheet" />
<div class="jumbotron">
    <h1 class="text-center"> Customer Success</h1>
    <p class="text-center">YOUR Success is OUR Success</p>
    
</div>

