@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Customer Success</h1>
    <p class="lead">YOUR Success is OUR Success</p>
    <p><a href="http://bulletsolutions.com" class="btn btn-primary btn-lg">Now more &raquo;</a></p>
</div>

