.subject-feature {
    margin-bottom: 30px;
}

.thumbnail{
    background-color:whitesmoke;
    border: 1px solid #ffffff;
    padding:30px;
    padding-bottom:50px;
    padding-top:50px;
}
.thumbnail h4,
.thumbnail .h4{
    
    color:#360c0c;
 }

h3 {
color:#ac8787;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 80px;
margin-bottom: 50px;
}

p{
    margin-bottom: 40px;
}
.body-content {
    padding-left: 90px;
    padding-right: 90px;
}