/*Passed*/
.subject-feature {
    margin-bottom: 30px;
}
/*Passed*/
.thumbnail{
    background-color:whitesmoke;
    border: 1px solid #ffffff;
    padding:30px;
    padding-bottom:50px;
    padding-top:50px;
}

/*Passed*/
h3.category {
color:#ecd553;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 80px;
margin-bottom: 50px;
}

p{
    margin-bottom: 40px;
}
/*Passed has CategoryBody*/
.body-content {
    padding-left: 50px;
    padding-right: 50px;
 
   }
